
<form action="add" method="post">
    <input type="text" placeholder="Фамилия, Имя, Отчество" name="name">
    <input type="text" placeholder="Телефон" name="phone">
    <input type="submit" value="Добавить">
</form>
<button onclick="backAdd()">Отказаться</button>
    {{backButton}}

