
<br/>
<form action="update" method="post" onclick="getNameInp()" onchange="disBtn()">
    <input type="text" placeholder="Фамилия, Имя, Отчество" name="name" value="{{contactsName}}" id="nameInp" >
    <input type="text" placeholder="Телефон" name="newPhone" value="{{contactsPhone}}" id="newPhone"> 
    <input type="text" style="display: none;" value="{{contactsPhone}}" name="phone">
    <input type="submit" value="Изменить">
</form>
<button onclick="delete1()" id="deleteBtn">Удалить</button>
<button onclick="backUpd()">Отказаться</button>